<header class="w3-container w3-blue w3-section w3-padding-0">
    <h1 class="w3-left w3-padding">Filter</h1>

    <a href="#" class="w3-right w3-padding w3-xxxlarge" ><i class="fa fa-home"></i></a>
</header>
<!-- <div class="w3-container w3-red">
    <span onclick="this.parentElement.style.display='none'" class="w3-closebtn">x</span>
    <p>Пребарај според цена и според работно време кликни на десната страна за отварање на мени</p>
    </div> -->
<div class="w3-hide-large w3-hide-medium w3-center">
<button class="w3-btn w3-medium w3-purple w3-round w3-slim" onclick="document.getElementById('open').style.display='block'">Отворено 24/7</button>
<button class="w3-btn w3-medium w3-round w3-deep-purple w3-slim" onclick="document.getElementById('cena').style.display='block'">Најниска цена</button><br/><br/>
<button class="w3-btn w3-medium w3-round w3-indigo w3-slim " onclick="document.getElementById('dist').style.display='block'">Најмала оддалеченост</button><br/>
</div>
<div class="w3-btn-group w3-hide-small w3-center">
    <button class="w3-btn w3-round w3-aqua w3-hover-aqua" style="width:33.3%" onclick="document.getElementById('open').style.display='block'">Отворено 24/7</button>
    <button class="w3-btn w3-round w3-blue" style="width:33.3%" onclick="document.getElementById('cena').style.display='block'">Најниска цена</button>
    <button class="w3-btn w3-round w3-indigo" style="width:33.3%"  onclick="document.getElementById('dist').style.display='block'">Најмала оддалеченост</button><br/>
</div><br/>

<div id="open" style="display:none;" class="w3-container w3-blue">
    <span onclick="this.parentElement.style.display='none'" class="w3-closebtn">x</span>
    <a href="https://goo.gl/maps/XZ4m9espwp92">Јавно паркиралиште ДОМ НА ГРАДЕЖНИЦИ (Зона l) - 50,00 ден. час </a><br/><br/>
    <a href="">Јавно паркиралиште ТРГОТЕКСТИЛ (Зона-l) - 50,00 ден. час</a><br/><br/>
    <a href="https://goo.gl/maps/kvs5sUeJQGM2"> Јавно паркиралиште АУТОМАКЕДОНИЈА (Зона ll) - 40,00 ден. час </a>
</div> <br/>

<!--<div id="map"  style="display: none" style="width: 500px"> -->
    <div id="cena" style="display:none;" class="w3-container w3-green">
        <span onclick="this.parentElement.style.display='none'" class="w3-closebtn">x</span>
<div><h5><b>Зона C и D - 25,00 ден. час</b></h5></div>
        <div id="c_min">

        </div>
</div> <br/>

<div id="dist"  style="display:none;" class="w3-container w3-yellow">
    <span onclick="this.parentElement.style.display='none'" class="w3-closebtn">x</span>
    <div id="demo">

    </div>
</div>

<!--<div id="m1" style="display: none" class="w3-container w3-blue">
    <iframe src="https://www.google.com/maps/embed?pb=!1m22!1m12!1m3!1d94883.18309436215!2d21.359069116944642!3d41.99814071274261!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m7!3e6!4m0!4m4!2s41.998162%2C+21.429109!3m2!1d41.998162!2d21.429109!5e0!3m2!1sen!2smk!4v1468838771338" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
</div> -->
