<header class="w3-container w3-blue w3-section w3-padding-0">

    <h1 class="w3-left w3-padding">Search
    </h1>

    <a href="#" class="w3-right w3-padding w3-xxxlarge" ><i class="fa fa-home"></i></a>
</header>
<div class="w3-hide-small w3-center" >


    <button class="w3-btn w3-blue" ng-click="centar()">Centar</button>
    <button class="w3-btn w3-blue" ng-click="karpos1()">Karpos 1</button>
    <button class="w3-btn w3-blue" ng-click="karpos2()">Karpos 2</button><br/><br/>
    <button class="w3-btn w3-blue" ng-click="karpos3()">Karpos 3</button>
    <button class="w3-btn w3-blue" ng-click="karpos4()">Karpos 4</button>
    <button class="w3-btn w3-blue" ng-click="a()">Aerodrom</button>
    <br/><br/>




</div>

<div class="w3-hide-large w3-hide-medium w3-center" >


    <button class="w3-btn w3-blue w3-small" ng-click="centar()">Centar</button>
    <button class="w3-btn w3-blue w3-small" ng-click="karpos1()">Karpos 1</button><br/><br/>
    <button class="w3-btn w3-blue w3-small" ng-click="karpos2()">Karpos 2</button>
    <button class="w3-btn w3-blue w3-small" ng-click="karpos3()">Karpos 3</button><br/><br/>
    <button class="w3-btn w3-blue w3-small" ng-click="karpos4()">Karpos 4</button>
    <button class="w3-btn w3-blue w3-small" ng-click="a()">Aerodrom</button>
    <br/><br/>



</div>
<div id="map1"></div>



<!-- MENU
<input type="checkbox" id="op"/>
<div class="lower">
    <label for="op">Find</label>
</div>


<div class="overlay overlay-hugeinc">
    <label for="op"></label>
    <nav>
        <ul>
            <li><a href="#">NANANANNAAN</a></li>
            <li><a href="#">About</a></li>
            <li><a href="#">Work</a></li>
            <li><a href="#">Clients</a></li>
            <li><a href="#">Contact</a></li>

        </ul>
    </nav>
</div>
-->
